<div class="media mt-4">
    <img class="mr-3"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHmFfNJPl3PaH9QXW1MfwdOWvtBWmhjgZfhA&usqp=CAU"
        alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-20">{{tripDetail.from.name}} đi {{tripDetail.to.name}}</h5>
        Chuyến đi xuất phát từ {{tripDetail.from.name}}({{tripDetail.from.address}}) và đi tới
        {{tripDetail.to.name}}({{tripDetail.to.address}}) vào lúc {{tripDetail.startTime}}
        <p></p>
        <p class="card-text">Giá vé là {{tripDetail.price}} vnđ cho 1 vé</p>
        <p class="card-text">Chuyến đi được chở bởi {{tripDetail.infVehicle.name}}.</p>
        {{#if seatsAvailable}}
        <p class="card-text">Các ghế hiện còn chỗ là {{seatsAvailable}}.</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buyTicketModal">Mua vé</button>
        <a href="/trips/getAll" class="btn btn-secondary">Quay lại</a>
        {{else}}
        <p class="card-text">Xe đã hết chỗ, vui lòng chọn chuyến đi khác</p>
        <a href="/trips/getAll" class="btn btn-secondary">Quay lại</a>
        {{/if}}


    </div>
</div>


{{!-- Modal --}}
<form method="POST" action="/users/buyTicket">
    <div class="modal fade" id="buyTicketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết vé</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="mt-20">{{tripDetail.from.name}} đi {{tripDetail.to.name}}</h5>
                    Chuyến đi xuất phát từ {{tripDetail.from.name}}({{tripDetail.from.address}}) và đi tới
                    {{tripDetail.to.name}}({{tripDetail.to.address}}) vào lúc {{tripDetail.startTime}}
                    <p></p>
                    <p class="card-text">Giá vé là {{tripDetail.price}} vnđ cho 1 vé</p>
                    <p class="card-text">Chuyến đi được chở bởi {{tripDetail.infVehicle.name}}.</p>
                    <p class="card-text">Các ghế hiện còn chỗ là: {{seatsAvailable}}</p>
                    <div class="chooseSeat">
                        <p class="card-text">Chọn ghế: </p>
                        <select name="chooseSeat" class="form-control chooseSeat-option">
                            {{#each seatsAvailable}}
                            <option value={{this}}>{{this}}</option>

                            {{/each}}
                        </select>
                    </div>
                    <input type="hidden" name="trip_id" value={{tripDetail.id}}>
                    <input type="hidden" name="vehicle_id" value={{tripDetail.infVehicle.id}}>
                    <input type="hidden" name="user_id" value={{tripDetail.infVehicle.id}}>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Mua vé</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</form>